body {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    background: #121212; /* Cinza escuro ao invés de preto para suavizar */
    margin: 0px;
    margin-bottom: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 75px;
    color: red;
    border-bottom: dashed 1px rgb(252, 0, 0);
    padding: 20px;
    background-color: #202020; /* Mais contraste com o fundo geral */
}

.teexto {
    display: flex;
    justify-content: space-between; /* Espaço entre o texto e o vídeo */
    padding-bottom: 100px;
    padding-top: 40px;
    background: rgb(77, 77, 77, 0.7); /* Tom mais escuro para destacar */
    color: #e0e0e0; /* Textos mais claros */
}

.Texto {
    width: 45%; /* Ocupa 45% da largura, deixando espaço para o vídeo */
    padding-left: 5%;
    align-self: center; /* Centraliza verticalmente o texto */
}

h1 {
    font-size: 42px;
    letter-spacing: 2px; /* Maior espaçamento nas letras para destaque */
    color: #ff0000; /* Mantendo a cor vermelha para consistência */
}

p {
    font-size: 22px;
    margin-bottom: 15px;
    color: #e0e0e0;
}

iframe {
    width: 45%; /* Ocupa 45% da largura, igual ao texto */
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.videosbroxas {
    margin-top: 50px;
    padding: 20px;
    background-color: #2a2a2a;
}

.videos-broxada {
    display: flex;
    justify-content: center;
    gap: 15px;
    overflow-x: auto;
    padding: 20px 0;
}

.videosbroxas img {
    width: 290px; /* Define uma largura fixa para todas as imagens */
    height: 200px; /* Mantém a altura fixa */
    object-fit: cover; /* Assegura que a imagem preencha o espaço sem distorção */
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
    border-radius: 10px;
}

.videosbroxas img:hover {
    opacity: 1;
    transform: scale(1.05);
    border: 2px solid #ff0000;
}

.videosbroxas h2 {
    color: #ff0000;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1.5px; /* Espalhamento para estilo moderno */
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons button {
    padding: 10px 15px; /* Mais preenchimento para um botão mais forte */
    border: 1px solid transparent;
    background-color: #ff4646;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Space Grotesk", sans-serif;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-buttons button:hover {
    background-color: #ff7575;
    box-shadow: 0px 4px 10px rgba(255, 70, 70, 0.5); /* Efeito de sombra para hover */
}
